# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
Library/ArtifactDB
Library/Artifacts/0f/0f271c1c15bd6b7abafb41c24191b0f3
Library/Artifacts/1d/1dfdeba9604e97d81fc596023fa60edc
Library/Artifacts/23/23318cf341f8825ea7fcbbc8c3c438ef
Library/Artifacts/32/32cb53740c1476ee877e817b3fee2fb0
Library/Artifacts/3c/3c9f798df10bd02b9ec561ee33315d54
Library/Artifacts/42/4254ae70d676eeef18eb2bc2f2c2d348
Library/Artifacts/46/4667186f5e905646348ceb166a8f7aba
Library/Artifacts/4b/4b1349c00031e3152acd75a3de168590
Library/Artifacts/4c/4c389dea7cc7a266f4b03574b8534b79
Library/Artifacts/5d/5daaf29a33664aa98461368c4c3220a3
Library/Artifacts/5f/5fc7876572ca02b7e39ad7cc735e49ca
Library/Artifacts/81/816a53d19636067cfc3110f306423e5f
Library/Artifacts/84/849e38aac079112c9f6a7f6712f687b4
Library/Artifacts/8c/8c784f47fc17933d4d037fbd1e0e994f
Library/Artifacts/c0/c0af4f50fba6b68a27cd5c365ad5b0b3
Library/Artifacts/ea/eadf927dca0c807debdd2fb043badec7
Library/Artifacts/fb/fb7583c1ce90f2171b04d38c05ac5ffa
Library/CurrentLayout-default.dwlt
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/SceneView/5d/5dd9b64295484430fe3e81f2dd52adc8.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Project Road Rage 1.0.sln
Library/ArtifactDB
Library/Artifacts/01/01b1fd63a4799dd091a87f8cf0e1c10b
Library/Artifacts/0a/0ae5a2e16050c35d36067fb5b18400ed
Library/Artifacts/0b/0b9b7c6687b4307d33e4ccba933805c3
Library/Artifacts/13/136c7b083a457d5203981d12d2022b1f
Library/Artifacts/1a/1a61896d49aedbc046660c2333104de6
Library/Artifacts/1c/1cc0d1ed1cd486659b7cc0fde5cc450b
Library/Artifacts/3a/3ac7949f134d048e87179e1dd8433ccd
Library/Artifacts/55/551f82a394284ce4444b79f47d90b590
Library/Artifacts/57/573345d729d00b3d74ab5cab9744005f
Library/Artifacts/73/73931c70bb0769db7d8cb095835a3df4
Library/Artifacts/7b/7b43dba5aeb40e2b4c35eaffa5922969
Library/Artifacts/8e/8e6982d3c432c72f6333ffe189951dba
Library/Artifacts/95/952546bc12a3dcfa7fab21033a54c8a0
Library/Artifacts/a2/a20ce92a9829d5e3f090c7597ed0a214
Library/Artifacts/ba/ba99e5f86c052c780bd7e1a8f1347e6e
Library/Artifacts/c1/c18d5f460ad370a2219303c73f9d1b7a
Library/Artifacts/ed/ed0fc6bf2b681db2997d9ddc7fd153f7
Library/EditorInstance.json
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityLockfile
Temp/workerlic
Library/ArtifactDB
Library/SourceAssetDB
Library/ArtifactDB
Library/PackageCache/.tmp15760b3LRjP4Dbe1C/copy/.icon.png
Library/PackageCache/.tmp15760b3LRjP4Dbe1C/copy/.icon.png.meta
Library/PackageCache/.tmp15760b3LRjP4Dbe1C/copy/package.json
Library/PackageCache/.tmp15760b3LRjP4Dbe1C/copy/package.json.meta
Library/PackageCache/.tmp15760hEqREO49MVpF/copy/package.json
Library/PackageCache/.tmp15760hEqREO49MVpF/copy/package.json.meta
Library/PackageCache/.tmp15760sxAPiCeZ4jjB/copy/package.json
Library/PackageCache/.tmp15760sxAPiCeZ4jjB/copy/package.json.meta
Library/PackageCache/com.unity.cinemachine@2.6.11/.gitattributes
Library/PackageCache/com.unity.cinemachine@2.6.11/CHANGELOG.md
Library/PackageCache/com.unity.cinemachine@2.6.11/CHANGELOG.md.meta
Library/PackageCache/com.unity.cinemachine@2.6.11/Editor.meta
Library/PackageCache/com.unity.ide.rider@2.0.7/.editorconfig
Library/PackageCache/com.unity.ide.rider@2.0.7/CHANGELOG.md
Library/PackageCache/com.unity.ide.rider@2.0.7/CHANGELOG.md.meta
Library/PackageCache/com.unity.ide.rider@2.0.7/CONTRIBUTING.md
Library/PackageCache/com.unity.ide.rider@2.0.7/CONTRIBUTING.md.meta
Library/PackageCache/com.unity.ide.rider@2.0.7/LICENSE.md
Library/PackageCache/com.unity.ide.rider@2.0.7/LICENSE.md.meta
Library/PackageCache/com.unity.ide.rider@2.0.7/package.json
Library/PackageCache/com.unity.ide.rider@2.0.7/package.json.meta
Library/PackageCache/com.unity.ide.rider@2.0.7/Rider.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/CHANGELOG.md
Library/PackageCache/com.unity.textmeshpro@3.0.6/CHANGELOG.md.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/Editor Resources.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/LICENSE.md
Library/PackageCache/com.unity.textmeshpro@3.0.6/LICENSE.md.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/Package Resources.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/package.json
Library/PackageCache/com.unity.textmeshpro@3.0.6/package.json.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/PackageConversionData.json
Library/PackageCache/com.unity.textmeshpro@3.0.6/PackageConversionData.json.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/PackageConversionData_Assets.json
Library/PackageCache/com.unity.textmeshpro@3.0.6/PackageConversionData_Assets.json.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/Scripts.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/Tests.meta
Library/PackageCache/com.unity.textmeshpro@3.0.6/ValidationExceptions.json
Library/PackageCache/com.unity.textmeshpro@3.0.6/ValidationExceptions.json.meta
Library/PackageCache/com.unity.timeline@1.4.8/CHANGELOG.md
Library/PackageCache/com.unity.timeline@1.4.8/CHANGELOG.md.meta
Library/PackageCache/com.unity.timeline@1.4.8/DocCodeExamples.meta
Library/PackageCache/com.unity.timeline@1.4.8/Editor.meta
Library/PackageCache/com.unity.timeline@1.4.8/LICENSE.md
Library/PackageCache/com.unity.timeline@1.4.8/LICENSE.md.meta
Library/PackageCache/com.unity.timeline@1.4.8/package.json
Library/PackageCache/com.unity.timeline@1.4.8/package.json.meta
Library/PackageCache/com.unity.timeline@1.4.8/README.md
Library/PackageCache/com.unity.timeline@1.4.8/README.md.meta
Library/PackageCache/com.unity.timeline@1.4.8/Runtime.meta
Library/PackageCache/com.unity.timeline@1.4.8/ValidationExceptions.json
Library/PackageCache/com.unity.timeline@1.4.8/ValidationExceptions.json.meta
Library/PackageCache/com.unity.ugui@1.0.0/CHANGELOG.md
Library/PackageCache/com.unity.ugui@1.0.0/CHANGELOG.md.meta
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/class-Canvas.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/class-CanvasGroup.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/class-CanvasRenderer.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/class-RectTransform.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/comp-CanvasComponents.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/comp-UIAutoLayout.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/comp-UIEffects.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/comp-UIInteraction.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/comp-UIVisual.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/EventSystem.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/EventSystemReference.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/HOWTO-UICreateFromScripting.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/HOWTO-UIFitContentSize.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/HOWTO-UIMultiResolution.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/HOWTO-UIScreenTransition.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/HOWTO-UIWorldSpace.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/index.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/InputModules.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/MessagingSystem.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/Raycasters.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-AspectRatioFitter.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Button.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-CanvasScaler.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-ContentSizeFitter.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Dropdown.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-EventSystem.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-EventTrigger.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-GraphicRaycaster.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-GridLayoutGroup.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-HorizontalLayoutGroup.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Image.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-InputField.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-LayoutElement.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Mask.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Outline.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Physics2DRaycaster.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-PhysicsRaycaster.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-PositionAsUV1.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-RawImage.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-RectMask2D.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Scrollbar.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-ScrollRect.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Selectable.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-SelectableNavigation.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-SelectableTransition.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Shadow.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Slider.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-StandaloneInputModule.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Text.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-Toggle.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-ToggleGroup.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-TouchInputModule.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/script-VerticalLayoutGroup.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/StyledText.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/SupportedEvents.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/TableOfContents.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/ugui.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/ugui.md.meta
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIAnimationIntegration.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIAutoLayout.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIBasicLayout.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UICanvas.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIHowTos.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIInteractionComponents.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIReference.md
Library/PackageCache/com.unity.ugui@1.0.0/Documentation~/UIVisualComponents.md
Library/PackageCache/com.unity.ugui@1.0.0/Editor.meta
Library/PackageCache/com.unity.ugui@1.0.0/Editor/EventSystem.meta
Library/PackageCache/com.unity.ugui@1.0.0/Editor/Properties.meta
Library/PackageCache/com.unity.ugui@1.0.0/Editor/UI.meta
Library/PackageCache/com.unity.ugui@1.0.0/Editor/UnityEditor.UI.asmdef.meta
Library/PackageCache/com.unity.ugui@1.0.0/LICENSE.md
Library/PackageCache/com.unity.ugui@1.0.0/LICENSE.md.meta
Library/PackageCache/com.unity.ugui@1.0.0/package.json
Library/PackageCache/com.unity.ugui@1.0.0/package.json.meta
Library/PackageCache/com.unity.ugui@1.0.0/README.md
Library/PackageCache/com.unity.ugui@1.0.0/README.md.meta
Library/PackageCache/com.unity.ugui@1.0.0/Runtime.meta
Library/PackageCache/com.unity.ugui@1.0.0/Runtime/EventSystem.meta
Library/PackageCache/com.unity.ugui@1.0.0/Runtime/Properties.meta
Library/PackageCache/com.unity.ugui@1.0.0/Runtime/UI.meta
Library/PackageCache/com.unity.ugui@1.0.0/Runtime/UnityEngine.UI.asmdef
Library/PackageCache/com.unity.ugui@1.0.0/Runtime/UnityEngine.UI.asmdef.meta
Library/PackageCache/com.unity.ugui@1.0.0/Tests.meta
Library/PackageCache/com.unity.ugui@1.0.0/Tests/Editor.meta
Library/PackageCache/com.unity.ugui@1.0.0/Tests/Runtime.meta
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
